<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<mapping class="com.hk.entities.AccessUser" />
	<mapping class="com.hk.entities.Akun" />
	<mapping class="com.hk.entities.AkunGrup" />
	<mapping class="com.hk.entities.Customer" />
	<mapping class="com.hk.entities.CustomerContact" />
	<mapping class="com.hk.entities.DepartmentHdr" />
	<mapping class="com.hk.entities.DepartmentDtl" />
	<mapping class="com.hk.entities.Gudang" />
	<mapping class="com.hk.entities.GudangGrup" />
	<mapping class="com.hk.entities.KasBank" />
	<mapping class="com.hk.entities.MataUang" />
	<mapping class="com.hk.entities.Module" />
	<mapping class="com.hk.entities.Pegawai" />
	<mapping class="com.hk.entities.Role" />
	<mapping class="com.hk.entities.RoleWidget" />
	<mapping class="com.hk.entities.Sales" />
	<mapping class="com.hk.entities.Supplier" />
		<mapping class="com.hk.entities.SupplierContact" />
		<mapping class="com.hk.entities.User" />
		<mapping class="com.hk.entities.UserGudang" />
		<mapping class="com.hk.entities.UserKasBank" />
		<mapping class="com.hk.entities.UserRole" />
		<mapping class="com.hk.entities.Widget" />
	</session-factory>
</hibernate-configuration>
